.modal{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
}
.filter-container{
    background-color: white;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    
}
.fa-times{
    font-size: 23px;
    margin: 15px 7px;
    cursor: pointer;
    color: white;
}
.filter-header{
    background-color: var(--base-color);
    display: flex;
    align-items: center;
    h4{
        flex-grow: 2;
        text-align: center;
        color: white;
    }
}
#times-container{
    flex-grow: 0.1;
}
.filter-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 25px;
}
.select-element{
    display: flex;
    flex-direction: column;
}
.filter-element{
    display: flex;
    flex-direction: column;
    span{
        color:black;
    }
}
.checkbox{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.5em;
    margin: 8px 0;
}
.filter-price{
    display: flex;
    align-items: center;
    .flex-mat-slider{
        flex-grow: 1;
        color:black
    }
}

@media only screen and (max-width: 856px){
    .filter-container{
        width: 100%;
    } 
}