.header{
    //layout
    display: flex;
    justify-content: space-between;
    //border 
    border-bottom: 1px solid rgba(245,77,40,.3);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(245, 77, 40, 0.9);
    #title{
        margin: 19px 19px  8px 19px;
        font-size: 24px;

    }
    .navbar{
        //layout
        display: flex;
        .navbar-menu{
            //layout
            display: flex;
            padding: 0;
            .navbar-menu-item{
                //Spacing
                margin-right: 30px;
            }
            li{
                //Layout
                text-align: center;  
                //Colors
                color: #6D6F73;
                //Others
                list-style: none; 
                
            }
            p{
                //Size
                font-size: 13px;
                //layout
                display: flex;
                justify-content: center;

            }
            .menu-item-selected{
                border-bottom: 2px solid #f52fcf;
            }
            .active-route, a:hover, a:focus{
                border-bottom: 1px solid rgba(245, 77, 40, 0.9);
            }
        }
        .dropdown-container{
            //Location
            position:absolute;
            top:58px;
            left: 0px;
            width: 100vw;
            display: flex;
            justify-content: center;
        }

        .dropdown-menu{
            //Layout
            display: grid;
            grid-template-columns: repeat(4 , auto);
            justify-self: center;
            //Size
            width: 677px;
            //Background
            background-color: white;
            padding: 0;
    
            .dropdown-menu-item{
                //Size
                font-size: 14px;
                //Spacing
                padding: 0.8em 0.5em;
                background-color:white;
                a:hover, a:focus{
                    border-bottom: 1px solid rgba(245, 77, 40, 0.9);
                }
                    
            }
        }
    }
    .store-location{
        //layout
        display: flex;
        flex-direction: column;
        justify-content: center;
        //Spacing
        margin-right: 11px;
        .fa-map-marker-alt{
            font-size: 30px;
            text-align: center;
            //Spacing
            margin-bottom: 6px;
        }
    }
}