<div class="header">
    <a id="title" [routerLink]="['/home']" (click)="saveNavbarState(null)">Magic Childhood</a>
    <nav class="navbar">
        <ul class="navbar-menu" >
            <li *ngFor="let category of categories, let i = index" class="navbar-menu-item" (mouseover)="showSubCategories(i)"   >
                <a [routerLink]="[category.route]" routerLinkActive="active-route" (mouseenter)="navHover = true" (mouseleave)="checkDropdownVisibility()" (click)="saveNavbarState(category)" >{{category.name}}</a>
            </li>
            <div *ngIf="currentCategory" class="dropdown-container" >
                <ul class="dropdown-menu"(mouseenter)="menuHover = true" (mouseleave)="categoryMouseOut()">
                    <li *ngFor="let subCategory of currentCategory.children" class="dropdown-menu-item"><a [routerLink]="['?¿']">{{subCategory.name}}</a></li>
                </ul>
            </div>
        </ul>
    </nav>
    <div class="store-location">
        <i class="fas fa-map-marker-alt"></i>
        <span>España</span>
    </div>
</div>