<div class="header">
    <div class="logo">
        <div *ngIf="isMobileSize" class="menu-mobile">
            <i *ngIf="!isOpenMobileBar"class="fas fa-bars" (click)="isOpenMobileBar = true "></i>
            <i *ngIf="isOpenMobileBar" class="fas fa-times"  (click)="isOpenMobileBar = false "></i>
        </div>
        <a id="title" [routerLink]="['/home']" (click)="saveNavbarState(null)">Magic Childhood</a>
    </div>
    <nav *ngIf="!isMobileSize" class="navbar" (mouseleave)="checkDropdownVisibility()">
        <ul class="navbar-menu"  >
            <li *ngFor="let category of categories, let i = index" class="navbar-menu-item" (mouseover)="showSubCategories(i)"   >
                <a [routerLink]="[category.route]" routerLinkActive="active-route"  (click)="saveNavbarState(category)" >{{category.name}}</a>
            </li>
            <div *ngIf="currentCategory" class="dropdown-container" (mouseover)="menuHover = true" >
                <ul class="dropdown-menu" (mouseleave)=" menuHover = false">
                    <li *ngFor="let subCategory of currentCategory.children" class="dropdown-menu-item"><a [routerLink]="[currentCategory.route +'/'+ subCategory.route]">{{subCategory.name}}</a></li>
                </ul>
            </div>
        </ul>
    </nav>
        <div class="navbar-mobile-container" *ngIf="isMobileSize && isOpenMobileBar">
            <ul  class="navbar-mobile-menu" >
                <app-mobile-nav-item *ngFor="let category of categories" [Category]="category" ></app-mobile-nav-item>
            </ul>
        </div>    
    <div class="store-location">
        <i class="fas fa-map-marker-alt"></i>
        <span>España</span>
    </div>
</div>