<div class="header">
    <a id="title" [routerLink]="['/home']">Magic Childhood</a>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li class="navbar-menu-item" (mouseover)="toggleDropMenu()" (mouseout)="toggleDropMenu()">            
                <a [routerLink]="['/primera-puesta']" >
                    <li>Primera puesta</li>
                    <p>0 a 16 meses</p>
                </a>
                <ul class="dropdown-menu" [ngClass]="onShowDropdownMenu()" >
                    <a><li class="dropdown-menu-item">Prendas Abrigos</li></a>
                    <a><li class="dropdown-menu-item">Abrigos</li></a>
                    <a><li class="dropdown-menu-item">Patucos</li></a>
                    <a><li class="dropdown-menu-item">Jerseys y chaquetas</li></a>
                    <a><li class="dropdown-menu-item">Camisas</li></a>
                    <a><li class="dropdown-menu-item">Vestidos</li></a>
                    <a><li class="dropdown-menu-item">Prendas Abrigos</li></a>
                    <a><li class="dropdown-menu-item">Eopa interior</li></a>
                    <a><li class="dropdown-menu-item">Patucos</li></a>
                    <a><li class="dropdown-menu-item">Lazos</li></a>
                    <a><li class="dropdown-menu-item">Camisas</li></a>
                    <a><li class="dropdown-menu-item">Patucos y ranitas</li></a>
                </ul>
            </li>
            <li class="navbar-menu-item">
                <a [routerLink]="['/bebe']" >
                    <li>Bebé</li>
                    <p>0 a 36 meses</p>
                </a>
            </li>
            <li class="navbar-menu-item">
                <a [routerLink]="['/infantil']">
                    <li>Infantil</li>
                    <p>2 a 12 años</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['/junior']">
                    <li>Junior</li>
                    <p>12 a 16 años</p>
                </a>
            </li>
        </ul>
    </nav>
    <div class="store-location">
        <i class="fas fa-map-marker-alt"></i>
        <span>España</span>
    </div>
</div>