.navbar-mobile-menu-item{
    border-bottom: 1px solid white;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    // grid-template-areas: "menu" "subMenu";

}
.fa-caret-down{
    color:white;
    font-size: 22px;
    grid-area: menu;
    place-self: end;
    margin: 1em;
    align-self: flex-end;
}
.subMenu-mobile{
    // grid-area: subMenu;
    background-color: white;
    padding-top: 26px;
    padding-left: 16px;

    a{
        color: black;
    }
}
.mobile-category{
    display: flex;
    align-content: center;
    justify-content: space-between;
    cursor: pointer;
    
}
.category{
    margin: 1em;
    color:white;
    align-self: center;
}
.subMenu-mobile-item{
    margin-bottom: 26px;
}