<div class="main-page">
    <div class="categories-banner">
        <div class="category">
            <img src="./../../../assets/images/New born.jpg">
            <h4>Primera puesta</h4>
        </div>
        <div class="category">
            <img src="./../../../assets/images/babys.jpg">
            <h4>Bebé</h4>
        </div>
    </div>
    <div class="categories-banner">
        <div class="category">
            <img src="./../../../assets/images/boy.jpg">
            <h4>Niño</h4>
        </div>
        <div class="category">
            <img src="./../../../assets/images/girl.jpg">
            <h4>Niña</h4>
        </div>
    </div>
    <div class="categories-banner">
        <div class="category">
            <img src="./../../../assets/images/teen-boy.jpg">
            <h4>Junior Chico</h4>
        </div>
        <div class="category">
            <img src="./../../../assets/images/teen-girl.jpg">
            <h4>Junior Chica</h4>
        </div>
    </div>

</div>